<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/contactUs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <title>Document</title>
</head>
<body>
  <header id="mainheader">
    <div class="container">
        <img src="images/vernet.png" alt="logo">  
    </div>
    <div class="tagline">
        <p> You rent a lot more than a Vehicle! </p>
    </div> 
   
</header>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/contactUs">Contact Us</a>
    <a href="/signUp">Sign Up</a>
    <a href="/logIn">Log In</a>
  </div>
   
    <div class="container">
      <div class="row">
          <h1>Contact Us</h1>
      </div>
      <div class="row">
          <h4 style="text-align:center">We'd love to hear from you!</h4>
      </div>
      <div class="row input-container">
          <div class="col-xs-12">
            <div class="styled-input wide">
              <input type="text" required />
              <label>Name</label> 
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="styled-input">
              <input type="text" required />
              <label>Email</label> 
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
              <input type="text" required />
              <label>Phone Number</label> 
            </div>
          </div>
          <div class="col-xs-12">
            <div class="styled-input wide">
              <textarea required></textarea>
              <label>Message</label>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="btn-lrg submit-btn">Send Message</div>
          </div>
      </div>

</body>
</html>
