<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <title>VeRent</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-light bg-light">
    <a href="/">
      <img id='nav-logo' src="images/vernet.png" alt="logo">
    </a>
    <p class='tagline'>You rent more than a Vehicle!</p>
    <div>
      <% if(admin) { %>
      <a class='nav-link' href="/addVehicle">Add Vehcile <i class="fas fa-plus"></i></a>
      <% } %>
      <% if(loggedIn) { %>
      <a class='nav-link' href="/user/me">Profile <i class="far fa-user"></i></a>
      <a class='nav-link' href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
      <% } else { %>
      <a class='nav-link' href="/signup">Sign Up <i class="fas fa-user-plus"></i></a>
      <a class='nav-link' href="/login">Log In <i class="fas fa-user-lock"></i></a>
      <% } %>
    </div>
  </nav>

  <!-- Body -->
  <div class='container-fluid'>
    <div id="front-card" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#front-card" data-slide-to="0" class="active"></li>
        <li data-target="#front-card" data-slide-to="1"></li>
        <li data-target="#front-card" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href='/display/bike/all'>
            <img src="images/bike.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Bikes</h1>
              <p>We specialize in motorcycle rental, from short-term motorbike rental to long-term hiring or
                leasing, from bike tours to bike maintenance and service – we have it all!</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href='/display/car/all'>
            <img src="images/car.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Cars</h1>
              <p>We have a range of cars, so something will perfectly fit your trip!</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href='/display/bicycle/all'>
            <img src="images/bicycle.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Bicycles</h1>
              <p>With its perfect ergonomic designed bicycles and GPS enabled locks, VeRent is the perfect smart
                bicycle available in the market for users!</p>
            </div>
          </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#front-card" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#front-card" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>MyHeading</title>
</head>

<body>

  <header id="mainheader">
    <div class="container">
      <img src="images/vernet.png" alt="logo">
    </div>
    <div class="tagline">
      <p> You rent a lot more than a Vehicle! </p>
    </div>

  </header>

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/contactUs">Contact Us</a>
    <% if(loggedIn) { %>
    <a href="/user/me">Profile</a>
    <a href="/logout">Log Out</a>
    <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <% } %>
  </div>
  <section id="bodystart">
    <h1 class="abc"> Start Your WonderFul Journey</h1>
    <p>We simplified car rentals, so you can focus on what's important to you.</p>
  </section>
  <div class="forborder">
    <section id="servs">
      <h1 class="preheading">Easy & Quick Online Booking. Clean & Well Maintained Fleet.A Vehicle for every need!
      </h1>

      <a href="/addVehicle">Add Vehicle</a>

      <div class="options">
        <div class="Cars">

          <img src="images/shutterstock_1158115840-scaled.jpg" alt="carimage">

          <p> We have a range of cars, so something will perfectly fit your trip</p>
          <h1> Cars </h1>
        </div>
        <a href="/display/car/all"><button type="button" class="block">Block Button</button></a>
        <div class="bikes">

          <img src="images/royal-enfield-himalayan-himalayan-enfield-motorcycle.jpg" alt="bikeimage">

          <p>We specialize in motorcycle rental, from short-term motorbike rental to long-term hiring or
            leasing, from bike tours to bike maintenance and service – we have it all
          </p>
          <h1> Bikes </h1>
        </div>
        <a href="/display/bike/all"><button type="button" class="block">Block Button</button></a>
        <div class="bicycles">

          <img src="images/imgimg.jpg" alt="bicycle image">

          <p>
            With its perfect ergonomic designed bicycles and GPS enabled locks, VeRent is the perfect smart
            bicycle available in the market for users.
          </p>
          <h1> Bicycles</h1>
        </div>
        <a href="/display/bicycle/all"><button type="button" class="block" onclick="">Block Button</button></a>
      </div>
    </section>
  </div>
  <div class="testinomials">
    <div class="inner">
      <h1>Testinomials</h1>
      <div class="border"></div>


      <div class="row">
        <div class="col">
          <div class="testinomial">
            <img src="images/purepng.com-flower-vectorflower-clipart-vector-floral-961524679762iqtpl.png" alt="picture">
            <div class="name">
              full name
            </div>
            <div class="stars">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>i will add muxh content here</p>
          </div>
        </div>
        <div class="col">
          <div class="testinomial">
            <img src="images/purepng.com-flower-vectorflower-clipart-vector-floral-961524679762iqtpl.png" alt="picture">
            <div class="name">
              full name
            </div>
            <div class="stars">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>i will add muxh content here</p>
          </div>
        </div>
        <div class="col">
          <div class="testinomial">
            <img src="images/purepng.com-flower-vectorflower-clipart-vector-floral-961524679762iqtpl.png" alt="picture">
            <div class="name">
              full name
            </div>
            <div class="stars">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>i will add muxh content here</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer>
    <div class="footermaindiv">
      <div class="leftcol">
        <h1>VeRent</h1>
        <div class="socialmediaicons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>

        </div>
        <p class="rights-text">
          &#169 2020 Created By Dtuites All rights reserved</p>
      </div>
      <div class="right-col">
        <h1>Our Newsletter</h1>
        <div class="border"></div>
        <p>Enter your Email to get our News and updates</p>
        <form action="" class="newsletter-form">
          <input type="text" class="txtb" placeholder="Enter your Email id">
          <input type="submit" class="btn" value="submit">
        </form>
      </div>
    </div>
  </footer>

</body>

</html> -->