body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

#nav-logo {
  width: 60px;
}

.tagline {
  padding-top: 10px;
  align-items: center;
  font-size: 1.3rem;
  color: #777;
}

.nav-link {
  display: inline;
}

.container-fluid {
  padding: 40px 80px;
}

.container {
  padding-top: 20px;
}

#front-card {
  width: 90%;
  margin-left: 5%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.card {
  padding: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.col-sm-4 {
  padding: 0.5rem;
}

.card-img-top {
  margin-bottom: 1rem;
}

#each-vehicle-img {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#collapsed-div {
  padding: 1rem;
}

#reviews {
  margin-top: 20px;
}

#reviews h1 {
  margin: 10px;
}

.review {
  margin: 10px;
}

#transactions {
  margin-top: 30px;
}

#transactions .card {
  margin: 20px 0;
}