body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

#nav-logo {
  width: 60px;
}

.tagline {
  padding-top: 10px;
  align-items: center;
  font-size: 1.3rem;
  color: #777;
}

.nav-link {
  display: inline;
}